:root {
  --background-primary: #1b1b1b;
  --background-secondary: #343434;
  --border-color: #4e4e4e;
  --text-primary: #fff;
  --code-color: #caf0f8;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
  margin: 0;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

header {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--background-primary);
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  overflow-y: auto;
  border-right: 2px solid var(--border-color);
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  color: var(--text-primary);
  text-decoration: none;
  border-top: 1px solid var(--border-color);
}

.nav-link:first-of-type {
  border: 0;
}

.nav-link:hover {
  background-color: var(--background-secondary);
}

#main-doc {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
}

.main-section {
  margin-bottom: 2rem;
}

.main-section header {
  text-align: left;
}

.main-section article {
  padding: 0rem 2rem;
}

.code-container {
  display: flex;
  justify-content: center;
  background-color: var(--background-secondary);
  color: var(--code-color);
  border-radius: 0.3rem;
  width: 80%;
  margin: 0 auto;
}

pre {
  width: 100%;
  overflow: auto;
  padding: 1rem 2rem;
}

@media (max-width: 750px) {
  #navbar,
  #main-doc {
    position: fixed;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  #navbar {
    height: 30%;
    text-align: center;
    border: 0;
  }

  #main-doc {
    top: 30%;
    bottom: 0;
  }

  header,
  .nav-link {
    padding: 0.5rem 1rem;
  }

  .code-container {
    width: 100%;
  }
}
