:root {
  --background-primary: #1b1b1b;
  --background-secondary: #343434;
  --border-color: #4e4e4e;
  --text-primary: #fff;
  --code-color: #caf0f8;

  --mobile-navbar-height: 4rem;

  --main-section-font-size: 1.125rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* outline: 1px solid white; */
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  background-color: var(--background-primary);
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

#toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-right: 1rem;
}

#toggle::before,
#toggle::after {
  content: '';
  position: absolute;
  width: 1.6rem;
  height: 0.125rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

#toggle::before {
  transform: translateY(-5px);
  transition: 0.3s;
}

#toggle::after {
  transform: translateY(5px);
  transition: 0.5s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  overflow-y: auto;
  border-right: 2px solid var(--border-color);
}

#mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;
  height: var(--mobile-navbar-height);
  background-color: var(--background-primary);
  color: var(--text-primary);
  border-bottom: 1px solid var(--code-color);
}

#mobile-navbar header {
  font-size: 1.2rem;
  margin-left: 1rem;
}

#navbar-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -100vh;
  bottom: 0;
  z-index: 8;
  transition: 500ms ease-in-out;
  width: 100%;
  height: 50vh;
  background-color: var(--background-primary);
  overflow: auto;
}

#navbar-links.active {
  top: var(--mobile-navbar-height);
}

.nav-link {
  text-align: center;
  color: var(--text-primary);
  height: var(--mobile-navbar-height);
  border-color: var(--border-color);
  border-bottom: 1px solid;
  padding: 1rem 0;
}

.nav-link:hover {
  background-color: var(--background-secondary);
}

#main-doc {
  margin-bottom: calc(var(--mobile-navbar-height) + 2rem);
}

.main-section {
  padding: 0 1rem;
}

.main-section header {
  position: sticky;
  top: 0;
  padding-top: var(--mobile-navbar-height);
  background-color: var(--background-primary);
}

.main-section h2 {
  padding: 1rem 0 0 0;
  margin: 0 0 2rem 0.5rem;
  font-size: 2rem;
}

.main-section article {
  padding: 0rem 1rem;
}

.main-section p {
  margin-bottom: 2rem;
  font-size: var(--main-section-font-size);
}

.main-section ul {
  margin-left: 2rem;
}

.main-section li {
  margin: 1rem 0;
  font-size: var(--main-section-font-size);
}

.code-container {
  display: flex;
  justify-content: center;
  background-color: var(--background-secondary);
  color: var(--code-color);
  border-radius: 0.3rem;
  margin-bottom: 2rem;
}

.code-container pre {
  width: 100%;
  overflow: auto;
  padding: 1rem;
  font-size: var(--main-section-font-size);
}

/* @media screen and (min-width: 48rem) {
  #navbar,
  #main-doc {
    position: fixed;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  #navbar {
    height: 30%;
    text-align: center;
    border: 0;
  }

  #main-doc {
    top: 30%;
    bottom: 0;
  }

  header,
  .nav-link {
    padding: 0.5rem 1rem;
  }

  .code-container {
    width: 100%;
  }
} */
